@use "../base/root" as *;
@use "../vendors/" as *;

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  position: absolute;
  width: 0px;
  height: 100vh;
  background-color: $primary;
  position: fixed;
  top: 0%;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease;
  z-index: 3 !important;

  &.active {
    width: 30vw;
  }

  & .menu-container {
    position: absolute;
    top: 30%;
    height: 60%;

    .sidebar-menu-text {
      opacity: 0;
      animation-name: appear;
      animation-duration: 0.1s;
      animation-delay: .6s;
      animation-fill-mode: forwards;
    }

    ul {
      margin-left: 20%;
      padding: 0;
      list-style: none;
      font-weight: 300;
      color: $background-secondary;
      width: 60%;

      li {
        margin-bottom: 25px;

        ul li:first-child {
          padding-top: 0.2em;
        }

        ul li {
          margin: 0.5em 0 0.5em -0.6em;
        }

        a {
          font-size: inherit;
          color: inherit;
          text-decoration: none;
        }

        &:hover {
          font-weight: 500;
        }
      }
    }

    ul,
    ul li {
      font-size: 1.25rem;
    }

    .social-links {
      width: 100%;
      display: flex;
      position: absolute;
      bottom: 2%;
      // flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      .icon {
        color: $background-secondary;
        opacity: 0.7;
        transition: all 0.5s ease;
      }

      .icon:hover {
        opacity: 1;
      }
    }

    // Icons for sidebar

    .menu-arrow-icon {
      display: inline-block;
      position: absolute;
      transform: translateX(-40px);
    }

    // transition for active

    .menu-arrow-icon-active {
      transform: translateX(-40px) rotate(90deg);
    }
  }
}

// TOggle style to make the sidebar text invisible by default

.hidden-sidebar {
  opacity: 0;
}
