/* Error: Can't find stylesheet to import.
 *   ,
 * 4 | @forward "./logincontainer";
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src/styles/scss/pages/_index.scss 4:1  @use
 *   src/styles/scss/style.scss 2:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 4 \2502  @forward \"./logincontainer\";\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src/styles/scss/pages/_index.scss 4:1  @use\a   src/styles/scss/style.scss 2:1         root stylesheet";
}
