h3 {
  color: #1b3445;
  font-size: 2rem;
}

body {
  color: #3b2c2c;
}

* {
  margin: 0%;
  box-sizing: border-box;
}

h1 {
  font-size: 1em;
}

.profile {
  display: flex;
}

.profileRight {
  flex: 9;
}

.profileCover {
  height: 320px;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid #1b3445;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfoName {
  font-size: 24px;
}

.profileInfoDesc {
  font-weight: 300;
}

.profileRightBottom {
  display: flex;
}

.profile-section-logged-in-posts {
  cursor: pointer;
  width: fit-content;
}

.new-user-information-container {
  position: absolute;
  margin-top: 30%;
}

.form-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b3445;
  flex-direction: column;
}

.form-container {
  position: relative;
  display: block;
  background-color: white;
  padding: 30px;
  z-index: 2;
}

.form-component h3 {
  margin-bottom: 30px;
}
.form-component .inner-container {
  display: block;
  color: #1b3445;
  width: 50%;
  margin-bottom: 20px;
}
.form-component .inner-container label {
  display: block;
  color: #1b3445;
  font-size: 1rem;
  margin-bottom: 5px;
  transition: 0.4s;
}
.form-component .inner-container input {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.4s;
}
.form-component .inner-container input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.form-component button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #4da2cd 50%, #4da2cd 50%, #1b3445 50%);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  cursor: pointer;
}
.form-component button:hover {
  background-position: 100%;
}

.menu {
  width: 300px;
  height: 100vh;
  background-color: #1b3445;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}
.menu.active {
  right: 0;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 300;
  color: white;
  width: 60%;
}
.menu ul li {
  margin-bottom: 25px;
}
.menu ul li a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
.menu ul li:hover {
  font-weight: 500;
}
.menu .social-links {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 2%;
  align-items: center;
  justify-content: space-evenly;
}
.menu .social-links .icon {
  color: white;
  opacity: 0.7;
  transition: all 0.5s ease;
}
.menu .social-links .icon:hover {
  opacity: 1;
}

.navbar-container {
  width: 100%;
  height: 10vh;
  background-color: #1b3445;
  color: white;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
}
.navbar-container.active {
  background-color: #1b3445;
  color: white;
}
.navbar-container.active .hamburger span:first-child {
  background-color: white;
  transform: rotate(45deg);
}
.navbar-container.active .hamburger span:nth-child(2) {
  opacity: 0;
}
.navbar-container.active .hamburger span:last-child {
  background-color: white;
  transform: rotate(-45deg);
}

.wrapper {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .left {
  display: flex;
  align-items: center;
}
.wrapper .left .logo {
  width: 40px;
}
.wrapper .middle {
  display: flex;
  align-items: center;
}
.wrapper .middle .profile-button {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.wrapper .middle .profile-button .icon {
  font-size: 18px;
  margin-right: 5px;
  fill: white;
}
.wrapper .middle .profile-button span {
  font-size: 15px;
  font-weight: 400;
}
.wrapper .right .hamburger {
  width: 32px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.wrapper .right .hamburger span {
  width: 100%;
  height: 3px;
  background-color: white;
  transform-origin: left;
  transition: all 2s ease;
}

.feed-container-header {
  padding-top: 20%;
}

/*# sourceMappingURL=style.css.map */
