/* outfit-300 - latin */
@font-face {
  font-family: 'Outfit-300';
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/outfit-v2-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/outfit-v2-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/outfit-v2-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Outfit-400';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/outfit-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/outfit-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/outfit-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Outfit-500';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/outfit-v2-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/outfit-v2-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/outfit-v2-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Outfit-600';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/outfit-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/outfit-v2-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/outfit-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Outfit-700';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/outfit-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/outfit-v2-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/outfit-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
}