$background-primary: rgb(27, 52, 69);
$background-secondary: rgb(255, 255, 255);
$background-secondary-modifier: rgb(250, 250, 250);
$background-light: rgb(232, 232, 232);
$background-accent: rgb(230, 195, 114);
$background-blue: rgb(77, 162, 205);


$background-grey-faded: rgb(211, 211, 211);