$text-primary: rgb(0, 0, 0);
$text-body: rgb(10, 10, 10);
$text-secondary: rgb(255, 255, 255);
$text-accent: rgb(230,195,114);
h3 {
  color: $text-primary;
  font-size: 2rem;
}

body {
    color: rgb(59, 44, 44);
}

//  Base colour styles 

// $text-primary: black;
// $text-secondary: rgb(0, 29, 124);

