@use "../abstracts/" as *;
@use "../base/" as *;

// Styles for the feed container

.feed-container {
  margin-top: 7.5em;
  margin-right: 20%;

  & .feed-container-header {
    padding: 0;

    .feed-section-title {
      text-align: center;
      padding-bottom: 0.5em;
    }

    .new-post-vutton-wrapper {
      position: absolute;
      top: 17.5%;
      left: 15%;
    }
  }

  .search-wrapper {
    display: flex;
    width: fit-content;
    flex-direction: column;
    max-width: 60vw;
    margin: 0 auto;

    div {
      position: relative;
      width: fit-content;
    }

    .search-wrapper-1st {
      margin-left: 0em;
    }

    .search-wrapper-2nd input {
      width: fit-content !important;
    }
  }

  // Styles for modal pop up creating new feed posts

  .feed-container-new-post-modal {
    @include modal-pop-up-form;
    width: clamp(300px, 40vw, 600px);
    z-index: 5;
    margin: 0 auto;
    position: absolute;
    left: 20%;

    & * {
      width: fit-content;
      padding: 1em;
    }

    & .feed-container-new-post-modal-title {
      position: relative;
      margin-top: 2.5em;
      width: 100%;
      color: $text-secondary;
      text-transform: capitalize;
      text-align: center;
    }

    & .new-post-form {
      position: relative;
      width: 100%;

      & .new-form-post-item {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: left;
     
        padding: 0;

        & label {
          padding: 0.85em 0 0.5em 0;
          font-variant: small-caps;
        }

        & input:last-child {
          border-radius: 10px;
        }
      }
    }
  }
}

// The feed itself

.feed-item-object {
  display: flex;
  margin: 2.5em auto auto;
  padding: 1.65rem 1.25rem;
  background-color: $background-secondary;
  box-shadow: 0.5px 0.5px 2px rgba(148, 148, 148, 0.8);
  border-radius: 10px;
  color: $text-body !important;
  width: max(200px, 40vw);

  & .feed-item-upvotes-wrapper {
    position: relative;
    width: 20%;

    & .feed-item-upvotes {
      position: relative;
      display: inline-block;
      width: 100%;
      font-size: 1.25rem;
      text-align: center;
    }

    & .feed-item-upvotes:nth-child(2n-1) {
      color: $text-accent;
    }
  }

  & .feed-item-object-text-wrapper {
    position: relative;
    padding-left: 2.5rem;
    margin: 0 5% 0 2%;
    width: 100%;
    height: 100%;

    & .feed-item-object-title {
      text-transform: capitalize;
      padding-bottom: 0.85em;
    }

    & .feed-item-object-description {
      padding-bottom: 1.15em;
    }

    .feed-item-object-metadata {
      padding-top: 1rem;
      width: 9.5rem;
      position: relative;
      display: flex;

      p {
        margin-right: 0.5rem;
      }

      & .feed-item-object-author {
        font-style: italic;
        padding-bottom: 0.5em;
      }
    }

    & .feed-item-link {
      // color: $text-secondary;
      text-decoration: none;
      display: block;
    }

    & .feed-item-buttons {
      position: absolute;
      right: 25%;
    }
    p {
      line-height: 1.5em;
    }
  }
}

// The feed item show page styles

.post-page {
  margin: 0 auto;
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .post-details-header {
    text-transform: capitalize;
    padding-bottom: 0.6em;
  }

  .post-body-paragraph {
    padding-bottom: 1em;
    text-indent: 2em;
    line-height: 1.65rem;
    text-align: justify;
  }
}
