@use "../abstracts/" as *;
@use "../base/" as *;

// Styles for the feed container

.feed-container {
  margin-top: 7.5em;

  & .feed-container-header {
    padding: 0;

    .feed-section-title {
      text-align: center;
      padding-bottom: .5em;
    }

    .new-post-vutton-wrapper {
      position: absolute;
      top: 17.5%;
      left: 15%;
    }
  }

  .search-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    margin: auto;

    .search-wrapper-1st {
      margin-left: 0em;
    }
  
  .search-wrapper-2nd input {
    width: 50%;
  }
  
  }

  // Styles for modal pop up creating new feed posts

  .feed-container-new-post-modal {
    @include modal-pop-up-form;
    width: clamp(300px, 40vw, 600px);
    margin: 0 auto;
    position: absolute;
    left: 20%;

    & * {
      width: fit-content;
      padding: 1em;
    }

    & .feed-container-new-post-modal-title {
      position: relative;
      margin-top: 2.5em;
      width: 100%;
      color: $text-secondary;
      text-transform: capitalize;
      text-align: center;
    }

    & .new-post-form {
      position: relative;
      width: 100%;
    }

    & .new-form-post-item {
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      width: 100%;
      padding: 0;

      & label {
        padding: 0.85em 0 0.5em 0;
        font-variant: small-caps;
      }

      & input:last-child {
        border-radius: 10px;
      }
    }
  }
}

// The feed itself


.feed-item-object {
  padding: 2em;
  background-color: $background-primary;
  border-radius: 10px;
  color: $text-secondary;
  width: max(200px, 60vw);
  margin: 2.5em auto 0 auto;

  & .feed-item-object-title {
    text-transform: capitalize;
    padding-bottom: 1.5em;
  }

  & .feed-item-object-author {
    font-style: italic;
    padding-bottom: .5em;
  }

  & .feed-item-link {
    color: $text-secondary;
    text-decoration: none;
    display: block;
  }

  & .feed-item-buttons {
    position: absolute;
    right: 25%;
  }

  p {
    line-height: 1.5em;
  }

}