@use "../base/" as *;

// Styles for individual post items

.post-details-container {
  margin-top: 7.5rem;

  .post-details-author {
    color: $text-body-muted;
    padding-bottom: 2.5rem;
  }

  .post-details-description-title {
    padding-bottom: 1.5rem;
  }

  .post-details-body-title {
    padding: 3.5rem 0 1.5rem 0;
  }
}

// Styles for comments

.comment-list {
  align-self: start;
  padding-top: 2.5rem;
  width: 100%;

  .comment-wrapper {
      margin-bottom: .5em;
    background-color: $background-secondary;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    width: min(400px, 50vw)
  }
}
