@use '../base' as *;

.main-button {
  background: $background-light;
  color: $background-secondary;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  cursor: pointer;

  img {
    max-width: 100%;
  }
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.top-container {
  padding-top: 10vh;
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  opacity: 0.9;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://source.unsplash.com/Y96OcAtUWw0');
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  margin-bottom: 20px;
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: $background-secondary;
  font-family: 'Outfit-600';
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: $background-secondary;
}

.boxes {
  display: grid;

  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: $background-primary;
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  color: $background-secondary;
}

.box-title {
  color: $background-secondary;
  font-family: 'Outfit-500';
}

/* Info */
.info {
  background: $background-light;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  margin: 20px 0;
}

/* Portfolio */
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* Footer */
.home-footer {
  margin-top: 2rem;
  background: $background-primary;
  color: $background-secondary;
  text-align: center;
  padding: 1rem;
}

.footer-text {
  font-family: 'Outfit-400';
}

/* Media Queries */
@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-b';
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .top-container {
    grid-template-areas:
      'showcase'
      'top-box-a'
      'top-box-b';
  }
}
