@use '../base' as *;

.form-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-primary;
  flex-direction: column;
}

.form-container {
  width: 70%;
  height: 70%;
  display: flex;
}

.form-left,
.form-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-text {
  font-size: 50px;
  font-family: 'Outfit-600';
  color: $background-secondary;
  margin-bottom: 30px;
}

.form-desc {
  font-size: 1.4rem;
  font-family: 'Outfit-300';
  color: $background-secondary;
}

.form-box {
  width: 100%;
  height: 40%;
  padding: 20px;
  background-color: $background-secondary;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .inner-container {
    display: block;
    color: $background-primary;
    width: 50%;
    margin-bottom: 20px;

    label {
      display: block;
      color: $background-primary;
      font-size: 1rem;
      margin-bottom: 5px;
      transition: 0.4s;
    }

    input {
      border-radius: 10px;
      border: 1px solid gray;
      font-size: 18px;
      display: block;
      width: 100%;
      padding: 10px 15px;
      transition: 0.4s;
    }

    input:focus {
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    }

  }

  button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, rgb(77, 162, 205) 50%, rgb(77, 162, 205) 50%, rgb(27, 52, 69) 50%);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: $background-secondary;
    cursor: pointer;
  }

  button:hover {
    background-position: 100%;
  }
}

.cc-link {
  padding-left: 5px;
}

// .return-link-container {

// }